article h1 {
	font-size: 2em;
	/*padding-top: 1em;*/
}

article > p {
	font-size: 1.6em;
}

.facts h2 {
	margin-top: 0;
}

.content {
	display: flex;
	justify-content: space-between;
}

.choice {
	display: flex;
	margin-bottom: 2em;
}
	.choice .text {
		margin-left: 1em;
		flex: 0 1 30em;
		
	}
	.choice .pic {
		flex: 0 1 200px;
	}
	.choice img {
		width: 100%;
		height: auto;
		border-radius: 100px;
 		-webkit-border-radius: 100px;
 		-moz-border-radius: 100px;
	}
	.choice h2 {
		margin: 0em 0 0.5em 0;
	}
	.choice a:link, .choice a:visited {
		text-decoration: underline;
		color: #660000;
	}
	.choice a:hover {
		text-decoration: underline;
		color: purple;
	}

.left {
	width: 50%;
}

.rightx {
	margin-left: 2em;
	width: 50%;
}
	.rightx img {
		width: 100%;
		height: auto;
	}

.choice .processpic {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-color: white;
}
.left_large {
	width: 68%;
}

.right_large {
	width: 30%;
	margin-left: 2em;
}

.left_medium {
	margin-left: 4em;
	width: 50%;
}

.right_medium {
	width: 50%;
}
/* Rehome CSS */

#events-wrapper {
	padding: 0px 30px 0px 30px;
}

.containerlabel {
	font-size: 1.6em;
}
