article h1 {
	font-size: 2em;
	padding-top: 1em;
}

article > p {
	font-size: 1.6em;
}


.facts h2 {
	margin-top: 0;
}

.content {
	display: flex;
	justify-content: space-between;
}

.choice .pic:hover {
	
}

.choice .pic:hover figcaption{
	background: rgba(0,0,0,0.8);
	color: white;
	z-index: 100;
	visibility: visible;
}

figcaption {
	padding-top: 50px;
	color: white;
	position: absolute;
	top: 0px;
	width: 300px;
	height: 300px;
	visibility: hidden;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	vertical-align: middle;
}

.choice {
	display: flex;
	margin-bottom: 2em;
	text-align: center;
}
	.choice .text {
		margin-left: 1em;
		flex: 0 1 30em;
		
	}
	.choice .pic {
		/*flex: 0 1 200px;*/
		margin: auto;
	}
	.choice img {
		height: 300px;
		/*height: auto;*/
	}
	.choice h2 {
		margin: 0em 0 0.5em 0;
	}
	.choice a:link, .choice a:visited {
		text-decoration: none;
		color: white;
		border: 2px solid white;
		padding: 3px;
	}
	.choice a:hover {
		text-decoration: none;
		color: rgba(255, 158, 37, 1);
		border: 2px solid rgba(255, 158, 37, 1);
	}

.left {
	width: 50%;
}

.right {
	/*flex: 0 0 500px;*/
	margin-left: 2em;
	width: 50%;
}
	.right img {
		width: 100%;
		height: auto;
	}
