html, body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}
#menu a{
	text-decoration: none;
}
#wrapper {
	height: 100px;
	margin: 0;
	z-index: 99;
	position: relative;
	background-color: white;
}
#wrapper img {
	width: 22%;
	display: inline-block;
	position: relative;
	float: left;
	padding-left: 30px;
	padding-top: 17px;
	max-width: 280px;
}
#right-wrapper {
	width: 75%;
	position: relative;
	float: right;
	height: 100px;
}
.navbar {
	display: inline-block;
	padding: 0;
	height: 35px;
	margin: 0;
	position: absolute;
}
#top-nav,
#primary-nav {
	position: relative;
	font-family: 'Raleway';
}
#top-nav {
	/*width: 100%;*/
	float: right;
	background-color: white;
	padding-top: 10px;
	/*margin-top: 9px;*/
	/*font-family: 'Quattrocento Sans';*/
	font-size: 18px;
	/*padding-left: 5px;*/
	padding-right: 10px;
}
#top-nav.navbar li a {
	float: right;
}
#top-nav.navbar li {
	padding-right: 20px;
}
#submit {
	background: transparent;
	border: 1px solid lightgray;
	padding-bottom: 2px;
	margin-left: -2px;
}
input [type="text"] {
	border: 1px solid gray;
}
#submit {
	background: url(../../img/search.png) no-repeat;
}
#adopt-li {
	width: 150px; /* Each menu item is 190px wide */
	padding-right: 20px;
}
#learnmore-li {
	width: 302px;
	margin-left: -35px;
}
#rehome-li {
	width: 160px;
	margin-left: -15px;
}
#support-li {
	width: 200px;
	margin-left: -15px;
}
#primary-nav {
	font-size: 25px;
	/*text-transform: uppercase;*/
	padding-bottom: 20px;
	padding-top: 13px;
	width: 100%;
}
#primary-nav li {
	line-height: 0.75em;
}
.dropdown {

}
.navbar li {
	height: auto;
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
}
.navbar a {	
	text-decoration: none;  /* Removes the default hyperlink styling. */
	display: block;
	text-align: center;
}
#primary-nav.navbar li a:hover {
	color: black;
}
#top-nav.navbar a,
#primary-nav.navbar a {
	color: #F79205;
}
.navbar li ul 	{
	display: none;  /* Hides the drop-down menu */
	height: auto;									 
	margin: 0; /* Aligns drop-down box underneath the menu item */
	margin-top: 15px;
	padding: 0; /* Aligns drop-down box underneath the menu item */		
	margin-left: 35px;	
}				
.navbar li:hover ul {
    display: block; /* Displays the drop-down box when the menu item is hovered over */
    padding-right: 50px;
}
.navbar li ul li {
	background-color: white;
	margin-right: 20px;
	width: 230px;
} 
.navbar li ul li a 	{
	padding: 8px 10px;
	color: white;
	font-size: 18px;
	text-transform: none;
	text-align: left;
}		
.navbar li ul li a:hover	{
	background-color: #E7E7E7;
	color: white;
}
#adopt-drop {
	margin-left: 35px;
}
#adopt-drop li a {
	padding-left: 15px;
}
#learnmore-li ul {
	margin-left: 25px;
}
#main-wrapper {
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 500px;
	padding: 20px 50px;
	background: rgba(255, 158, 37, .9);
}
#main-wrapper h1 {
	color: white;
}
#main-wrapper h1#right {
	float: right;
	font-size: 2.5em;
}
#main-wrapper button {
	border: 2px solid;
	padding: 15px;
	margin-top: 50px;
	color: white;
	font-size: 20px;
	background: transparent;
	o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	transition:color .2s ease-out, background .2s ease-in;
}
#main-wrapper a {
	color: white;
	o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	transition:color .2s ease-out, background .2s ease-in;
}
#adopttodaybutton:hover {
	background: white;
	border-color: white;
}
#adopttodaybutton:hover #adopttodayword{
	color: rgba(255, 158, 37, .9);
}
footer {
	background-color: #262626;
	height: 225px;
	color: gray;
	height: 120px;
}
footer ul {
	list-style: none;
}
.footer-wrapper {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	font-family: 'Raleway', sans-serif;
}
.footer-block {
	width: 17%;
	display: inline-block;
}
.footer-block:first-child ul,
.footer-block:nth-child(2) ul {
	text-align: right;
	border-right: 1px solid #000;
	padding-right: 8px;
}
.footer-block:nth-child(4) ul,
.footer-block:nth-child(5) ul {
	text-align: left;
	border-left: 1px solid #000;
	padding-left: 8px;
}
.footer-block:nth-child(4),
.footer-block:nth-child(5){
	float: right;
}
.footer-block-center {
	width: 27%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
}
.footer-block-center img {
	width: 170px;
}
.footer-block-center ul {
	list-style-position: inside;
	padding: 0;
}
.footer-block-center ul li {
	list-style: none;
	display: inline-block;
}
.footer-block-center ul li a {
	color: #fff;
	text-indent: -9999px;
	overflow: hidden;
	display: inline-block;
	background: url(../../img/sprite.svg) no-repeat 0 -185px transparent;
	padding: 8px 21px;
}
.footer-block-center ul li a.facebook {
	background-position: 0 -185px;
}
.footer-block-center ul li a.twitter {
	background-position: -46px -185px;
}
.footer-block-center ul li a.youtube {
	background-position: -138px -185px;
}
.xfooter-block {
	width: 17%;
	display: inline-block;
}

