html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
#menu a{
	text-decoration: none;
}
#showTop {
	background: url(../../img/menu.png) no-repeat;
	background-color: white;
	text-indent: 39px;
	height: 40px;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #9DCDCE;
	z-index: 99999;
	position: fixed;
	top: 50%;
}
#wrapper {
	height: 100px;
	margin: 0;
	z-index: 99;
	position: relative;
	background-color: white;
}
#wrapper img {
	width: 22%;
	display: inline-block;
	position: relative;
	float: left;
	padding-left: 30px;
	padding-top: 17px;
	max-width: 280px;
}
#right-wrapper {
	width: 75%;
	position: relative;
	float: right;
	height: 100px;
}
.navbar {
	display: inline-block;
	padding: 0;
	height: 35px;
	margin: 0;
	position: absolute;
}
#top-nav,
#primary-nav {
	position: relative;
	font-family: 'Quattrocento Sans';
}
#top-nav {
	width: 100%;
	background-color: white;
	padding-top: 10px;
	margin-top: 9px;
	margin-left: 38%;
	font-family: 'Quattrocento Sans';
	font-size: 18px;
	padding-left: 5px;
}
#top-nav.navbar li a {
	float: right;
}
#top-nav.navbar li {
	padding-right: 20px;
}
#submit {
	background: transparent;
	border: 1px solid lightgray;
	padding-bottom: 2px;
	margin-left: -2px;
}
input [type="text"] {
	border: 1px solid gray;
}
#submit {
	background: url(../../img/search.png) no-repeat;
}
#about-li {
	width: 150px; /* Each menu item is 190px wide */
	padding-right: 20px;
}
#academics-li {
	width: 210px;
	margin-left: -35px;
}
#research-li {
	width: 195px;
	margin-left: -15px;
}
#admissions-li {
	width: 215px;
	margin-left: -15px;
}
#campuslife-li {
	width: 210px;
	margin-left: -20px: 
}
#primary-nav {
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 13px;
	width: 100%;
}
#primary-nav li {
	line-height: 0.75em;
}
#about {
	background: url(../../img/arrow-down.png) 127px no-repeat;
}
#academics {
	background: url(../../img/arrow-down.png) 188px no-repeat;
}
#research {
	background: url(../../img/arrow-down.png) 170px no-repeat;
}
#admissions {
	background: url(../../img/arrow-down.png) 195px no-repeat;
}
#campuslife {
	background: url(../../img/arrow-down.png) 185px no-repeat;
	padding-right: 10px;
}
.navbar li {
	height: auto;
	float: left;  /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;  /* Removes the default styling (bullets) for the list */
	padding: 0;
}
.navbar a {	
	text-decoration: none;  /* Removes the default hyperlink styling. */
	display: block;
	text-align: center;
}
#primary-nav.navbar li a:hover {
	color: #F15D2F;
}
#top-nav.navbar a,
#primary-nav.navbar a {
	color: #660000;
}
.navbar li ul 	{
	display: none;  /* Hides the drop-down menu */
	height: auto;									
	margin: 0; /* Aligns drop-down box underneath the menu item */
	margin-top: 15px;
	padding: 0; /* Aligns drop-down box underneath the menu item */		
	margin-left: 35px;	
}				
.navbar li:hover ul {
    display: block; /* Displays the drop-down box when the menu item is hovered over */
    padding-right: 50px;
}
.navbar li ul li {
	background-color: white;
	margin-right: 20px;
	width: 230px;
} 
.navbar li ul li a 	{
	padding: 8px 10px;
	color: white;
	font-size: 18px;
	text-transform: none;
	text-align: left;
}		
.navbar li ul li a:hover	{
	background-color: #E7E7E7;
	color: white;
}
#about-drop {
	margin-left: 35px;
}
#about-drop li a {
	padding-left: 15px;
}
#campuslife-li ul {
	margin-left: 25px;
}
#slider1_container {
	position: relative; 
	margin: 0 auto;
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 400px; 
    overflow: hidden;
}
#slides-container {
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 100%;
	height: 400px; 
	overflow: hidden;
}
.gallery-title {
	position: absolute; 
	width: 480px; 
	height: 120px; 
	top: 30px; 
	left: 52px; 
	padding: 5px;
	text-align: center; 
	line-height: 60px; 
	text-transform: uppercase; 
	font-size: 55px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.gallery-text {
	position: absolute; 
	width: 480px; 
	height: 120px; 
	top: 300px; 
	right: 25px; 
	margin-top: -55px;
	text-align: left; 
	line-height: 36px; 
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
/* jssor slider bullet navigator skin 21 css */
/*
.jssorb21 div           (normal)
.jssorb21 div:hover     (normal mouseover)
.jssorb21 .av           (active)
.jssorb21 .av:hover     (active mouseover)
.jssorb21 .dn           (mousedown)
*/
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
{
    background: url(../../img/b21.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
#bullet-nav {
	position: absolute; 
	bottom: 26px; 
	left: 6px;
}
#bullet-nav-proto {
	position: absolute; 
	width: 19px; 
	height: 19px; 
	text-align:center; 
	line-height:19px; 
	color:White; 
	font-size:12px;
}
/* jssor slider arrow navigator skin 21 css */
/*
.jssora21l              (normal)
.jssora21r              (normal)
.jssora21l:hover        (normal mouseover)
.jssora21r:hover        (normal mouseover)
.jssora21ldn            (mousedown)
.jssora21rdn            (mousedown)
*/
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    background: url(../../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21ldn { background-position: -243px -33px; }
.jssora21rdn { background-position: -303px -33px; }
#arrow-left {
	width: 55px; 
	height: 55px; 
	top: 123px; 
	left: 8px;
}
#arrow-right {
	width: 55px; 
	height: 55px; 
	top: 123px; 
	right: 8px;
}
#awards-outer-wrapper {
	width: 100%;
	background-color: #F0EDE3;
	height: 190px;
}
#awards-wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F0EDE3;
	position: relative;
	height: 100%;
}
.award,
.event {
	width: 33%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 165px;
}
.award .award-content,
.event .event-content  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#award-1 h1,
#award-1 h4,
#award-3 h1,
#award-3 h2,
#award-3 h4,
#event-1 h1 {
	margin: 0;
}
#award-1 {
	margin-top: 55px;
}
#award-2 {
	position: absolute;
	top: -35px;
}
#award-2 h2 {
	background: url(../../img/laurel.svg) center no-repeat;
	height: 130px;
	padding-top: 85px;
}
#award-3 {
	float: right;
	padding-top: 35px;
}
#events-outer-wrapper {
	width: 100%;
	background-color: #F0EDE3;
	padding-bottom: 75px;
}
#events-wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#events-mid-border {
	border-top: 1px solid gray;
}
#events-title::before {
	left: -340px;
}
#events-title::before,
#events-title::after {
	position: absolute;
	content: "";
	height: 1px;
	width: 340px;
	background-color: rgba(255,255,255,.2);
	display: block;
	bottom: 13px;
}
#events-title::after {
	right: -340px;
}
#events-title {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
}
#events-title h1 {
	display: inline-block;
	margin: 0;
	color: #85754d;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	z-index: 999;
}

#event-1 h1 {
	background: url(../../img/cycling.jpg) center -80px no-repeat;
	padding-top: 15px;
	height: 185px;
}
#event-1:hover h1{
	opacity: .6;
}
#event-2 h1 {
	background: url(../../img/talk.jpeg) center -44px no-repeat;
	padding-top: 15px;
	height: 185px;
}
#event-2:hover h1{
	opacity: .6;
}
#event-3 h1 {
	background: url(../../img/campus-winter.jpg) center no-repeat;
	padding-top: 15px;
	height: 185px;
}
#event-3:hover h1{
	opacity: .6;
}
.event-content {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
footer {
	background-color: #262626;
	height: 225px;
	color: gray;
}
footer ul {
	list-style: none;
}
#footer-wrapper {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	font-family: 'Quattrocento Sans', sans-serif;
}
.footer-block {
	width: 17%;
	display: inline-block;
}
.footer-block:first-child ul,
.footer-block:nth-child(2) ul {
	text-align: right;
	border-right: 1px solid #000;
	padding-right: 8px;
}
.footer-block:nth-child(4) ul,
.footer-block:nth-child(5) ul {
	text-align: left;
	border-left: 1px solid #000;
	padding-left: 8px;
}
.footer-block:nth-child(4),
.footer-block:nth-child(5){
	float: right;
}
#footer-block-center {
	width: 27%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
}
#footer-block-center img {
	width: 170px;
}
#footer-block-center ul {
	list-style-position: inside;
	padding: 0;
}
#footer-block-center ul li {
	list-style: none;
	display: inline-block;
}
#footer-block-center ul li a {
	color: #fff;
	text-indent: -9999px;
	overflow: hidden;
	display: inline-block;
	background: url(../../img/sprite.svg) no-repeat 0 -185px transparent;
	padding: 8px 21px;
}
#footer-block-center ul li a.facebook {
	background-position: 0 -185px;
}
#footer-block-center ul li a.twitter {
	background-position: -46px -185px;
}
#footer-block-center ul li a.youtube {
	background-position: -138px -185px;
}


